<cdn-header
  [boardId]="boardId"
  [playerForm]="playerForm"
  (openDialog)="openDialog()"
></cdn-header>

<div class="toolbar">
  <button matRipple class="button"
          *ngIf="!state?.game || state?.game?.winner" (click)="gameStart()"
          [disabled]="state?.players[clientId]?.requests?.start === true"
  >Start game
  </button>

  <button matRipple class="button"
          *ngIf="state?.game && !state?.game?.winner" (click)="gameStop()"
          [disabled]="state?.players[clientId]?.requests?.stop === true"
  >Stop game
  </button>

  <button matRipple class="button" (click)="scoreClear()"
          [disabled]="state?.players[clientId]?.requests?.clear === true"
  >Clear score
  </button>
</div>

<div class="area">
  <div class="board">

    <div class="info" *ngIf="state?.game?.current as current">
      <span class="info__span">
        <span>{{ current?.word ? 'Keyword' : 'Next team' }}</span>
        <div class="circle" [ngClass]="{'red': current?.team ===  'Red', 'blue': current?.team ===  'Blue'}">
          <span *ngIf="!current?.word">{{ current?.team + 's' }}</span>
          <span *ngIf="current?.word">{{ current?.word }} # {{ current?.wordsNo }}</span>
        </div>
      </span>

      <span class="info__span" *ngIf="playerForm.get('team').value">
        <span>Remaining words</span>
        <div class="circle" [ngClass]="'red'">
          {{ state?.game?.leaders?.red?.cardsLeft }}
        </div>
        <span class="circle__span">vs.</span>
        <div class="circle" [ngClass]="'blue'">
          {{ state?.game?.leaders?.blue?.cardsLeft }}
        </div>
      </span>
    </div>

    <div class="live">
      <cdn-layer-live
        [state]="state"
        [playerForm]="playerForm"
        [clientId]="clientId"
        (switchAccept)="acceptSwitch($event.i, $event.j)"
      ></cdn-layer-live>
    </div>

  </div>

  <div class="panel">
    <cdn-teams
      [state]="state"
    ></cdn-teams>

    <cdn-layer-game
      *ngIf="state?.game?.leaders?.blue?.id === clientId || state?.game?.leaders?.red?.id === clientId"
      [state]="state"
      [playerForm]="playerForm"
      (movesAccept)="movesAccept($event)"
    ></cdn-layer-game>

    <cdn-chat
      *ngIf="!state?.game
      || (state?.game?.leaders?.blue?.id !== clientId && state?.game?.leaders?.red?.id !== clientId)"
      [state]="state"
      (sendText)="textSend($event)"
    ></cdn-chat>
  </div>
</div>
