@import "../../../../assets/colors";

:host {
  display: block;
  position: relative;

  .area {
    display: flex;
    margin: 16px;

    .board {
      flex: 0 1 60%;
      margin: 16px;

      display: flex;
      flex-direction: column;

      width: 100%;

      .live {
        display: flex;
        align-items: center;

        cdn-layer-live {
          width: 100%;
        }
      }
    }

    .panel {
      flex: 0 1 40%;
    }
  }
}

.moves {
  display: flex;
  flex-direction: column;
  align-items: center;
}
