@import "../../../../assets/colors";

:host {
  display: block;
  position: relative;

  .area {
    display: flex;
    margin: 0 16px;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
      margin: 0;
    }

    .board {
      flex: 0 1 60%;
      margin: 16px;

      display: flex;
      flex-direction: column;

      .live {
        display: flex;
        align-items: center;

        cdn-layer-live {
          width: 100%;
        }
      }
    }

    .panel {
      flex: 0 1 40%;

      .tabs {
        display:flex;
        margin: 16px;
      }
    }
  }
}

.moves {
  display: flex;
  flex-direction: column;
  align-items: center;
}

cdn-button + cdn-button {
  margin-left: 1px;
}
