<cdn-header
  [boardId]="boardId"
  [playerForm]="playerForm"
  (openDialog)="openDialog()"
></cdn-header>

<cdn-toolbar
  [state]="state"
  [clientId]="clientId"
  (startGame)="gameStart()"
  (stopGame)="gameStop()"
  (clearScore)="scoreClear()"
></cdn-toolbar>

<div class="area">
  <div class="board">

    <cdn-status
      *ngIf="state?.game"
      [state]="state"
      [playerForm]="playerForm"
    ></cdn-status>

    <div class="live">
      <cdn-layer-live
        [state]="state"
        [playerForm]="playerForm"
        [clientId]="clientId"
        (switchAccept)="acceptSwitch($event.i, $event.j)"
      ></cdn-layer-live>
    </div>

  </div>

  <div class="panel">
    <cdn-teams
      [state]="state"
    ></cdn-teams>

    <cdn-layer-game
      *ngIf="state?.game?.leaders?.blue?.id === clientId || state?.game?.leaders?.red?.id === clientId"
      [state]="state"
      [playerForm]="playerForm"
      (movesAccept)="movesAccept($event)"
    ></cdn-layer-game>

    <cdn-chat
      *ngIf="!state?.game
      || (state?.game?.leaders?.blue?.id !== clientId && state?.game?.leaders?.red?.id !== clientId)"
      [state]="state"
      (sendText)="textSend($event)"
    ></cdn-chat>
  </div>
</div>
