<cdn-dialog header="{{ 'dialog.player.header' | translate }}">
  <div class="form">
    <form [formGroup]="playerForm">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'dialog.player.name.label' | translate }}</mat-label>
        <input matInput
               formControlName="name"
               placeholder="{{ 'dialog.player.name.placeholder' | translate }}"
               required
        />
        <mat-error *ngIf="playerForm.get('name').invalid">{{ 'error.playerName' | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'dialog.player.team.label' | translate }}</mat-label>
        <mat-select formControlName="team">
          <mat-option *ngFor="let team of teams" [value]="team.value">
            {{ team.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <cdn-button
        [mat-dialog-close]="data.playerForm"
        [disabled]="playerForm.invalid"
      >{{ 'dialog.player.submit' | translate }}
      </cdn-button>
    </form>
  </div>
</cdn-dialog>
