<div class="layer">
  <div class="layer__row" *ngFor="let row of coreBoard; let i = index">
    <div class="layer__tile" *ngFor="let tile of row; let j= index">
      <cdn-tile
        *ngIf="state?.game as game"
        [value]="game?.layers?.live[i][j]"
        [accepted]="{value: getAcceptedValue(i, j), max: (state?.players | team:game?.current?.team | keyvalue).length - 1}"
        (click)="game?.current?.wordsNo
              && game?.current.team === playerForm.get('team').value
              && game?.leaders?.red?.id !== clientId
              && game?.leaders?.blue?.id !== clientId
              && game?.layers?.live[i][j] === -2
              && acceptSwitch(i, j)"
      >
        {{ state?.game?.layers?.words[i][j] }}
      </cdn-tile>
    </div>
  </div>
</div>
