@import "../../../../assets/colors";

:host {
  display: flex;
  justify-content: space-between;

  width: 100%;

  @media only screen and (max-width: 768px) {
    margin-bottom: 20px;
  }

  .current, .remaining {
    display: flex;
    align-items: center;

    &__info {
      display: flex;
      align-items: center;
    }

    .info, .vs {
      font-family: 'Baloo 2', cursive;
      font-size: 20px;
      text-transform: uppercase;

      margin-right: 16px;

      @media only screen and (max-width: 768px) {
        font-size: 14px;
        margin-right: 8px;
      }
    }

    .vs {
      margin-left: 16px;
    }
  }

  .remaining {
    @media only screen and (max-width: 768px) {
      .info {
        display: none;
      }
    }
  }
}
