<div class="current" *ngIf="state?.game?.current as current">
  <span class="info">{{ (current?.wordsNo ? 'board.keyword' : 'board.nextPlayer') | translate }}</span>

  <cdn-caption [ngClass]="{'red': current?.team ===  'Red', 'blue': current?.team ===  'Blue'}">
    <span *ngIf="!current?.wordsNo">{{ state?.players[state?.game?.leaders[current?.team === 'Red' ? 'red' : 'blue'].id]?.name }}</span>
    <span *ngIf="current?.wordsNo">{{ current?.word }} # {{ current?.wordsNo }}</span>
  </cdn-caption>
</div>

<div class="remaining" *ngIf="playerForm.get('team').value">
  <span class="info">{{ 'board.remainingWords' | translate }}</span>

  <cdn-caption class="red">
    {{ state?.game?.leaders?.red?.cardsLeft }}
  </cdn-caption>

  <span class="vs">{{ 'board.vs' | translate }}</span>

  <cdn-caption class="blue">
  {{ state?.game?.leaders?.blue?.cardsLeft }}
  </cdn-caption>
</div>
