<div class="teams">
  <div class="teams__caption">
    <div class="caption">
      <cdn-caption class="red">
        <span class="name">{{ 'common.team.Red' | translate }}</span>
        <mat-icon>{{ state?.score?.reds > 0 ? 'star' : 'star_border' }}</mat-icon>
        <mat-icon>{{ state?.score?.reds > 1 ? 'star' : 'star_border' }}</mat-icon>
        <mat-icon>{{ state?.score?.reds > 2 ? 'star' : 'star_border' }}</mat-icon>
      </cdn-caption>
    </div>

    <div class="caption">
      <cdn-caption class="blue">
        <span class="name">{{ 'common.team.Blue' | translate }}</span>
        <mat-icon>{{ state?.score?.blues > 0 ? 'star' : 'star_border' }}</mat-icon>
        <mat-icon>{{ state?.score?.blues > 1 ? 'star' : 'star_border' }}</mat-icon>
        <mat-icon>{{ state?.score?.blues > 2 ? 'star' : 'star_border' }}</mat-icon>
      </cdn-caption>
    </div>
  </div>

  <div class="teams__body">
    <div class="body__reds">
      <div class="player" *ngFor="let player of state?.players | team:'Red' | keyvalue">
        <span>{{ player.value.name }}</span>
        <div class="flag" *ngIf="player.key === state?.game?.leaders?.red?.id">{{ 'teams.leader' | translate }}</div>
        <div class="flag" *ngIf="player.value.requests.start">{{ 'teams.ready' | translate }}</div>
        <div class="flag" *ngIf="player.value.requests.stop">{{ 'teams.stop' | translate }}</div>
        <div class="flag" *ngIf="player.value.requests.clear">{{ 'teams.clear' | translate }}</div>
        <div class="flag" *ngIf="player.value.requests.timer"><mat-icon class="icon">alarm</mat-icon></div>
      </div>
    </div>

    <div class="body__blues">
      <div class="player" *ngFor="let player of state?.players | team:'Blue' | keyvalue">
        <span>{{ player.value.name }}</span>
        <div class="flag" *ngIf="player.key === state?.game?.leaders?.blue?.id">{{ 'teams.leader' | translate }}</div>
        <div class="flag" *ngIf="player.value.requests.start">{{ 'teams.ready' | translate }}</div>
        <div class="flag" *ngIf="player.value.requests.stop">{{ 'teams.stop' | translate }}</div>
        <div class="flag" *ngIf="player.value.requests.clear">{{ 'teams.clear' | translate }}</div>
        <div class="flag" *ngIf="player.value.requests.timer"><mat-icon class="icon">alarm</mat-icon></div>
      </div>
    </div>
  </div>
</div>
