@import "../../../../assets/colors";

:host {
  .teams {
    margin: 16px;
    font-family: 'Baloo 2', cursive;

    &__caption {
      display: flex;
      align-items: center;

      .caption {
        display: flex;
        align-items: center;
        flex: 0 1 50%;
      }

      .name {
        margin-right: 8px;
      }
    }

    &__body {
      display: flex;
      overflow-y: auto;

      margin-top: 16px;
      height: 200px;

      border: 2px solid $black;

      .body {
        &__reds, &__blues {
          flex: 0 1 50%;

          .player {
            display: flex;
            align-items: center;
            margin: 4px 8px;

            font-size: 18px;

            .flag {
              padding: 2px 4px;
              margin-left: 8px;

              background-color: $mustard;
              color: $gelato;
              font-size: 12px;
              text-transform: uppercase;
            }
          }

          .name {
            margin-right: 8px;
          }
        }
      }
    }
  }
}
