<div class="teams">
  <div class="teams__header">
    <div class="header">
      <div class="header__reds">
        <span class="name">Reds</span>
        <mat-icon>{{ state?.score?.reds > 0 ? 'star' : 'star_border' }}</mat-icon>
        <mat-icon>{{ state?.score?.reds > 1 ? 'star' : 'star_border' }}</mat-icon>
        <mat-icon>{{ state?.score?.reds > 2 ? 'star' : 'star_border' }}</mat-icon>
      </div>
    </div>

    <div class="header">
      <div class="header__blues">
        <span class="name">Blues</span>
        <mat-icon>{{ state?.score?.blues > 0 ? 'star' : 'star_border' }}</mat-icon>
        <mat-icon>{{ state?.score?.blues > 1 ? 'star' : 'star_border' }}</mat-icon>
        <mat-icon>{{ state?.score?.blues > 2 ? 'star' : 'star_border' }}</mat-icon>
      </div>
    </div>
  </div>

  <div class="teams__body">
    <div class="body__reds">
      <div class="player" *ngFor="let player of state?.players | team:'Red' | keyvalue">
        <span>{{ player.value.name }}</span>
        <div class="leader" *ngIf="player.key === state?.game?.leaders?.red?.id">Leader</div>
      </div>
    </div>

    <div class="body__blues">
      <div class="player" *ngFor="let player of state?.players | team:'Blue' | keyvalue">
        <span>{{ player.value.name }}</span>
        <div class="leader" *ngIf="player.key === state?.game?.leaders?.blue?.id">Leader</div>
      </div>
    </div>
  </div>
</div>
