<div
  *ngIf="state?.game?.current?.timer"
  [ngStyle]="lineStyle"
  class="line">
</div>

<div class="left">
  <div class="left__timer" *ngIf="state?.game && !state?.game?.winner">
    <cdn-button
      [disabled]="state?.players[clientId]?.requests?.timer === true
        || state?.game?.current?.team === playerForm.get('team').value
        || !!state?.game?.current?.timer
      "
      (press)="setTimer.emit()"
    ><mat-icon>alarm</mat-icon>
    </cdn-button>

    <div class="timer" *ngIf="state?.game?.current?.timer && time.min">
      <span>{{ time.min }}</span>
      <span class="space">:</span>
      <span>{{ time.sec }}</span>
    </div>
  </div>
</div>

<div class="right">
  <cdn-button
    *ngIf="!state?.game || state?.game?.winner"
    [disabled]="state?.players[clientId]?.requests?.start === true"
    (press)="startGame.emit()"
  >{{ 'board.button.start' | translate }}
  </cdn-button>

  <cdn-button
    *ngIf="state?.game && !state?.game?.winner"
    [disabled]="state?.players[clientId]?.requests?.stop === true"
    (press)="stopGame.emit()"
  >{{ 'board.button.stop' | translate }}
  </cdn-button>

  <cdn-button
    [disabled]="state?.players[clientId]?.requests?.clear === true"
    (click)="clearScore.emit()"
  >{{ 'board.button.clear' | translate }}
  </cdn-button>
</div>
