@import "../../../../assets/colors";

:host {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  height: 48px;
  padding: 0 32px;

  background-color: white;

  @media only screen and (max-width: 768px) {
    padding: 0 16px;
  }

  cdn-button + cdn-button {
    margin-left: 8px;
  }
}
