@import "../../../../assets/colors";

:host {
  .tile {
    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;

    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: $tile;
    height: 6vw;
    padding: 0;

    font-size: 1.2vw;
    font-weight: 500;
    text-transform: uppercase;

    &--yellow {
      background-color: $yellow;
    }

    &--red {
      background-color: $coral;
    }

    &--blue {
      background-color: $blue;
    }

    &--black {
      background-color: $black;
    }

    &:hover {
      cursor: pointer;
      border: 2px solid $black;
    }
  }
}
