@import "../../../../assets/colors";

:host {
  .tile {
    position: relative;

    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;

    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: $tile;
    border: 2px solid $tile;

    height: 6vw;
    padding: 0;

    font-size: 1.2vw;
    font-weight: 500;
    text-transform: uppercase;

    &--yellow {
      background-color: $yellow;
    }

    &--red {
      background-color: $coral;
    }

    &--blue {
      background-color: $blue;
    }

    &--black {
      background-color: $black;
    }

    &:hover {
      cursor: pointer;
      border-color: $black;
    }
  }

  .accepted {
    position: absolute;
    top: 4px;
    right: 4px;
    padding: 2px 8px;

    font-size: 12px;
    color: $gelato;

    background-color: $mustard;
  }
}
