@import "../../../../assets/colors";

:host {
  .container {
    font-family: 'Baloo 2', cursive;

    .info {
      font-size: 20px;
      text-transform: uppercase;
    }

    .button {
      margin-top: 32px;

      display: flex;
      justify-content: flex-end;

      &__join {
        border: 0;
        background-color: $mustard;
        padding: 4px 8px;
        color: $gelato;

        font-size: 20px;
        font-family: 'Baloo 2', cursive;
        text-transform: uppercase;

        cursor: pointer;
        outline: none;
      }
    }
  }
}
