@import "../../../../assets/colors";

:host {
  display: flex;
  padding: 4px 8px;

  color: $gelato;
  font-size: 18px;
  text-transform: uppercase;

  @media only screen and (max-width: 768px) {
    font-size: 16px;
    padding: 2px 4px;
  }

  &.red {
    background-color: $coral;
  }

  &.blue {
    background-color: $blue;
  }
}
