@import "colors";

html, body {
  height: 100%;
  background-color: #f7f7f7;
}

body {
  margin: 0;
  font-family: 'Baloo 2', cursive, "Helvetica Neue", sans-serif;
  overflow: hidden;

  &::before {
    content: "";
    position: fixed;
    width: calc(2 * 100vw);
    height: calc(2 * 100vw);
    top: 0;
    left: 25%;
    z-index: 0;
    background: #f1f1f1 0 0 repeat;
    transform: rotate(120deg);
  }
}

.dialog {
  mat-dialog-container {
    padding: 0;
    border-radius: 0;
    overflow: hidden;
  }
}

/* scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: $tile;
}
::-webkit-scrollbar-thumb {
  background: $black;

}
::-webkit-scrollbar-thumb:hover {
  background: $black;
}
