@import "../../../../assets/colors";

:host {
  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .button {
      display: flex;
      align-items: center;
      justify-content: center;

      flex: 0 1 calc(33% - 4px);

      border: 0;
      padding: 16px;
      cursor: pointer;
      outline: none;

      font-family: 'Baloo 2', cursive;
      font-size: 20px;

      margin: 0 4px 4px 0;

      color: $gelato;
      background-color: $mustard;
    }
  }

  mat-form-field {
    width: 100%;
    font-family: 'Baloo 2', cursive;
  }

  ::ng-deep {
    .mat-form-field-appearance-outline {
      .mat-form-field-outline {
        color: $black;
        opacity: 1;

        .mat-form-field-outline-start,
        .mat-form-field-outline-end {
          border-radius: 0;
        }
      }
    }
  }
}
