<cdn-dialog header="{{ 'dialog.moves.header' | translate }}">
  <div class="container">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'dialog.moves.input.label' | translate }}</mat-label>
      <input #word
             matInput
             placeholder="{{ 'dialog.moves.input.placeholder' | translate }}"
             required
      />
    </mat-form-field>

    <button matRipple
            *ngFor="let item of items"
            [mat-dialog-close]="{ wordsNo: item, word: word.value }"
            class="button">
      {{item}}
    </button>
  </div>
</cdn-dialog>
